<% if (banks = Spree::Bank.active).any? %>
  <p>Para completar el pedido tendrá que realizar una transferencia desde su banco o caja. Una vez hayamos recibido la transferencia procederemos al envio de tu pedido.</p>
  <p>Estos son los datos que deberá proporcionar a su banco o caja para realizar la transferencia. Cuenta<%="s" if banks.size > 1 %>:</p>  
  <div class="datos-banco">  
  <% banks.each do |bank| %>
    <p><strong>Destinatario:</strong> <%= bank.account_owner %></p>
    <p><strong>Entidad:</strong> <%= bank.name %></p>
    <p><strong>Cuenta Bancaria:</strong> <%= bank.account_no %></p>
    <p><strong>Concepto:</strong> <%= @order.number %></p>
    <p><strong>Importe:</strong> <%= @order.display_total %></p>
  <% end %>  
  </div>
<% end %>