<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @bank } %>

<%= form_for [:admin, @bank] do |f| %>
  <div data-hook="admin_inside_bank_form" class="row">
    <div class="alpha five columns">      
      <%= f.field_container :name do %>
        <%= f.label :name, t(:name) %> <span class="required">*</span><br />
        <%= f.error_message_on :name, :class => 'fullwidth title' %>
        <%= f.text_field :name, :class => 'fullwidth' %>
      <% end %>

      <%= f.field_container :account_owner do %>
        <%= f.label :account_owner, t(:account_owner) %> <span class="required">*</span><br />
        <%= f.error_message_on :account_owner, :class => 'fullwidth title' %>
        <%= f.text_field :account_owner, :class => 'fullwidth' %>
      <% end %>

      <%= f.field_container :account_no do %>
        <%= f.label :account_no, t(:account_no) %><span class="required">*</span><br />
        <%= f.text_field :account_no, :class => 'fullwidth' %>
      <% end %>
      
      <%= f.field_container :active do %>
        <%= f.check_box :active %>
        <%= f.label :active, t(:active) %>
      <% end %>

      <%= button t('actions.update'), 'icon-ok' %>
    </div>
  </div>
<% end %>